body {
    background-color: #bcdee7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card {
    width: 400px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}
.profile-pict {
    width: 200px;
    height: 200px;
    background-image: url('profile.jpg');
    background-size: cover;
    margin: auto;
    border-radius: 100%;
    border: 20px solid #e4e6e5;
    margin-bottom: 20px;
    margin-top:20px;
}
.profile-title {
    text-align: center;
    font-weight: normal;
}
.profile-subtitle {
    text-align: center;
    margin-top:-20px;
}
.profile-description {
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}
.social-icon {
    text-align: center;
}
.color-blue {
    color:blue;
}
.color-sky-blue {
    color:aqua;
}
.color-grey {
    color: grey;
}